@media (max-width: 900px){
    footer{
      padding: 40px;    
    }
    footer > #container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 760px){
    /* .navigation{
         
     }*/
     .navigation.active{
         width: 100%;
     }
     .toggle.active::before{
         color: #84bc01;
     }
     footer > #container{
        grid-template-columns: repeat(1,1fr);
    }
 }
@media (min-width: 768px){
    .formulario{
        width: 100%;
        height: auto;
        padding: 60px 0;
    }
    .form-flex{
        width: 100%;
        height: auto;
        display: flex;
    }
    .form-section{
            width: 50%;
    }
    .form-chamada{
            width: 50%;
            
    }
    .form-chamada-gif{
        width: 100%;
        margin-top: 20px;
        display: block;
    }
    .form-chamada-gif img{
        width: 100%;
    }
    .news-div{
        display: flex;
    }
    .news-box{
        width: 33%;
    }
}
