
/*
header > ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}
header > ul li{
    list-style: none;
    margin: 0 40px;
}
header > ul li a .fab{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
}
header > ul li a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
header > ul li a::before{
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    width: 20px;
    height: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
header > ul li a::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    width: 100%;
    height: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
header > ul li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}
header > ul li:nth-child() a{
}
*/
@media (min-width:800px){
    header{
        width: 100%;
        height: 100vh;
        background: linear-gradient(139deg, #84bc01, #7b43fe, #7b43fe);
    }
    .shape{
        width: 100%;
        height: 100%;
        background-image: url('../img/shap.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;

    }
    .logo{
        width: 100%;
        height: 150px;
    }
    .logo img{
        height: 100%;
    }
    .header-chamada{
        width: 100%;
        height: auto;
        margin-left: -100px;
        position: relative;
        transform: rotate(-25deg) skew( 25deg) scale(.8);
    }
    .header-chamada h2{
        color: rgba(255, 255, 255, 0.452);
        font-size: 10rem;
        position: absolute;
        transition: .5s;
        display: block; 
    }
    .header-chamada h2:nth-child(5){
        transform: translate(20px, -20px);
        opacity: 1;
        color: #fff;
    }
    .header-chamada h2:nth-child(4){
        transform: translate(15px, -15px);
        opacity: 0.8;
    }
    .header-chamada h2:nth-child(3){
        transform: translate(10px, -10px);
        opacity: 0.6;
    }
    .header-chamada h2:nth-child(2){
        transform: translate(5px, -5px);
        opacity: 0.4;
    }
    .header-chamada h2:nth-child(1){
        transform: translate(0px, -0px);
        opacity: 0.2;
    }
    .header-redes{
        position: relative;
        top: 270px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-height: auto;
        justify-content: center;
        align-items: center;
    }
    .header-redes > ul{
        position: relative;
        display: flex;
        width: 80%;
        height: 170px;
        justify-content: center;
        transform-style: preserve-3d;
        transform: rotate(-25deg) skew(25deg);
    }
    .header-redes ul li{
        position: relative;
        width: 20%;
        height: 100%;
        margin: 0 10px;
    }
    .header-redes ul li::before{
        position: absolute;
        content: '';
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        background: #5613f3;
        transform-origin: top;
        transform: skewX(-41deg);
    }
    .header-redes ul li::after{
        position: absolute;
        content: '';
        top: 0px;
        left: -9px;
        width: 9px;
        height: 100%;
        background: #7b43fe;
        transform-origin: right;
        transform: skewY(-49deg);
    }
    .header-redes ul li span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
        background: linear-gradient(-45deg, #84bc01, #7b43fe);
        color: rgba(255, 255, 255, 0.432);
        font-size: 30px !important;
        transition: 1s;
    }
    .header-redes ul li span i{
        font-size: 60px;
    }
    .header-redes ul li:hover span{
        z-index: 999;
        transition: 0.5s;
        color: #fff;
        box-shadow: 1px 1px 1px rgba(0,0,0,.05);
    }
    .header-redes ul li:hover span:nth-child(5){
        transform: translate(40px, -40px);
        opacity: 1;
    }
    .header-redes ul li:hover span:nth-child(4){
        transform: translate(30px, -30px);
        opacity: 0.8;
    }
    .header-redes ul li:hover span:nth-child(3){
        transform: translate(20px, -20px);
        opacity: 0.6;
    }
    .header-redes ul li:hover span:nth-child(2){
        transform: translate(10px, -10px);
        opacity: 0.4;
    }
    .header-redes ul li:hover span:nth-child(1){
        transform: translate(0px, -0px);
        opacity: 0.2;
    }
    .header-redes ul li:hover{
        background: linear-gradient(-45deg, #261f73, #0072ff);
    }
    .header-redes ul li:nth-child(1):hover span{
        background: #3b5999;
    }
    .header-redes ul li:nth-child(2):hover span{
        background: #e4405f;
    }
    .header-redes ul li:nth-child(3):hover span{
        background: #25d366;
    }
    .header-redes ul li:nth-child(4):hover span{
        background: #55acee;
    }
    .header-redes ul li:nth-child(5):hover span{
        background: #cd201f;
    }
    .tags-services{
        width: 100%;
        height: 75vh;
        padding-top: 260px;
        margin-bottom: 80px;
    }
    .div-tags{
        width: 100%;
        height: 100%;
    }
    .tags-box{
        width: 100%;
        display: flex;
        
    }
    .div-tags-a{
        text-align: center;
        width: 20%;
        height: 20px;
        margin: 20px 10px;
        padding: 20px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
    }
    .div-tags-a:hover {
        background: linear-gradient(-45deg, #7b43fe, #84bc01);
    }
    .a-color{
        background-color: #7b43fe;
    }
    .a-color:hover{
        background: linear-gradient(-45deg, #84bc01, #7b43fe);
    }
    .como-funciona-shape{
        width: 100%;
        height: 100%;
        background-image: url('../img/shap.png');
        background-position: bottom;
        background-repeat:no-repeat;
        background-size: contain;
    }
    .como-funciona .como-funciona-shape > #container{
        background-image: url('../img/shap\ -\ Copia.png');
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .como-funciona-flex{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .como-funciona-box{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .como-funciona-box h2{
        color: #fff;
        font-size: 4rem;
    }
    .como-funciona-box h2 span{
        color: #84bc01;
    }
}